# Dependencies
node_modules

# Expo
.expo
.expo-shared

# Build outputs
dist
build
android/build
ios/build
web-build

# Environment
.env
.env.local
.env*.local

# Logs
npm-debug.log
yarn-error.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS / editor
.DS_Store

# Misc
expo-env.d.ts
.metro-health-check*
*.tsbuildinfo
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
.vercel
